<aside class="site">

  <section>
    <header>Autor</header>

    {{ $about := printf "%sabout/" .Site.BaseURL }}
    {{ $current := printf "%s" .Permalink }}
    {{ if ne $current $about }}
      <div class="image-cropper" style="width: 100px; height: 100px;">
        <a href="/about"><img src="https://s.gravatar.com/avatar/f1bbbfb5807b2ac46cd38e78cc703aee?s=100" /></a>
      </div>
    {{ end }}

    {{ partial "personalLinks.html" . }}

  </section>

  <section>
    <header>Lo más reciente</header>
    <div>
      <div class="row">
        {{ range $i, $p := (first 5 .Site.Pages) }}
        <div class="col-md-12 col-sm-6 col-xs-12">{{ .Render "li_sm" }}</div>
        {{ if eq (mod (add $i 1) 2) 0 }}<div class="col-sm-12"></div>{{ end }}
        {{ end }}
      </div>
    </div>
  </section>

  {{ range $key, $value := .Site.Taxonomies }}
  <section>
    <header>{{ $key }}</header>
    <div>
      <ul class="p-terms">
        {{ range first 10 $value.ByCount }}<li><a href="{{ $.Site.BaseURL}}{{ $key }}/{{ .Name | urlize }}">{{ .Name }}</a></li>{{ end }}
      </ul>
    </div>
  </section>
  {{ end }}

</aside>
