{{ if (eq $.Page.Params.Language "en") }}
<p>I hope you've found this post useful and invite you let me know your opinion in the <a href="#disqus_thread"><strong>comments section</strong></a>. </p>
<p>Follow me on <a href="https://twitter.com/mvelosop">Twitter</a> for news and new posts. </p>
<p>Thank you,</p> 
{{ else }}
<p>Espero que este artículo le haya resultado útil y le invito a darme su opinión en la <a href="#disqus_thread"><strong>sección de comentarios</strong></a>. </p>
<p>Sígame en <a href="https://twitter.com/mvelosop">Twitter</a> para novedades y nuevos artículos.</p>
<p>Gracias,</p> 
{{ end }}
<strong>Miguel.</strong>
