{{ if (eq $.Page.Params.Language "en") }}
<p>I hope you've found this post useful and invite you let me know your opinion in the <a href="#disqus_thread"><strong>comments section</strong></a>. </p>
<p>Thank you,</p> 
{{ else }}
<p>Espero que este artículo le haya resultado útil y le invito a darme su opinión en la <a href="#disqus_thread"><strong>sección de comentarios</strong></a>. </p>
<p>Gracias,</p> 
{{ end }}
<strong>Miguel.</strong>
<div style="margin-top:1rem;">
    <a href="https://twitter.com/mvelosop?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @mvelosop</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
