{{ $file := .Get 0 }}
{{ if len .Params | eq 2 }}
{{ $.Scratch.Add "options" (.Get 1) }}
{{ else }}
{{ $.Scratch.Add "options" "linenos=table" }}
{{ end }}
{{ $fileExt := replace (index (findRE "(\\.)\\w+$" $file) 0) "." "" }}
{{ with $.Page.Params.repoRelease }}
{{ $sourceFilePath := printf "[%s-%s] %s" $.Page.Params.repoName . $file }}
{{ $sourceFile := printf "releases\\%s-%s\\%s" $.Page.Params.repoName . $file }}
<div class="source-filename">{{ $sourceFilePath }}</div>
<div class="source-code">
<button class="btn-copy" data-clipboard-target=""><i class="fa fa-fw fa-copy"></i></button>
{{ highlight (trim (readFile $sourceFile) "\n\ufeff") $fileExt ($.Scratch.Get "options") }}
</div>
{{ else }}
{{ $sourceFilePath := printf "[%s] %s" $.Page.Params.repoName $file }}
{{ $sourceFile := printf "repos\\%s\\%s" $.Page.Params.repoName $file }}
<div class="source-filename">{{ $sourceFilePath }}</div>
<div class="source-code">
<button class="btn-copy" data-clipboard-target=""><i class="fa fa-fw fa-copy"></i></button>
{{ highlight (trim (readFile $sourceFile) "\n\ufeff") $fileExt ($.Scratch.Get "options") }}
</div>
{{ end }}
