{{ $file := .Get 0 }}
{{ $fileExt := replace (index (findRE "(\\.)\\w+$" $file) 0) "." "" }}
{{ with $.Page.Params.repoRelease }}
{{ $sourceFilePath := printf "[%s-%s] %s" $.Page.Params.repoName . $file }}
{{ $sourceFile := printf "releases\\%s-%s\\%s" $.Page.Params.repoName . $file }}
<div class="source-code">
<div class="source-filename">{{ $sourceFilePath }}</div>
{{ highlight (trim (readFile $sourceFile) "\n") $fileExt "linenos=table" }}
</div>
{{ else }}
{{ $sourceFilePath := printf "[%s] %s" $.Page.Params.repoName $file }}
{{ $sourceFile := printf "repos\\%s\\%s" $.Page.Params.repoName $file }}
<div class="source-file"><div class="source-filename" style="line-height: 20px">{{ $sourceFilePath }}</div>
<pre class="snippet">
<code class="language-{{ $fileExt }}">{{ trim (readFile $sourceFile) "\ufeff" }}</code></pre>
</div>
{{ end }}
